body {
    margin: 0;
    height: 1000px;
    background-color: silver;
}
.navbar_container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 9vh;
    width: 100%;
    background-color: #9A031E;
}
.navbar_logo_container { 
    display: flex;  
    align-items: center;
    justify-content: space-between;
    margin-left: 10vh;
    height: 7vh;
    width: 20vw;
}
.navbar_right_box {
    display: flex;
    margin-top: -.5vh;
    margin-right: 3vh;
    height: 7vh;
    width: 55vw;
    justify-content: flex-end;
}
.navbar_right_box li {
    display: inline-block; /* Make the list item inline-block for scaling */
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
    color: whitesmoke;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-left: 70px;
    font-size: 23px;
    list-style-type: none;
}
#more {
    display: inline-block; /* Make the list item inline-block for scaling */
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
    width: 8vh;
}
#chefshat {
    width: 35vh
}

#list {
   margin-top: -.5vh;
}
#more:hover {
    color: #F2921D;
    transform: scale(1.2); /* Increase the size by 20% */
}
#icon {
    margin-left: 5vh;
   
}
.navbar_right_box li:hover {
    color: #F2921D;
    transform: scale(1.2); /* Increase the size by 20% */
}


@media (max-width: 440px) {
    .navbar_right_box {
        width: 10vh;
    }
    .navbar_logo_container {
        margin-left: 3vh;
    }
    #chefshat {
        height: 50px
    }
    .navbar_right_box li {
       display: none;
     }
     .navbar_container {
        padding-top: 1vh;
        padding-bottom: 1vh;
        height: 9vh;
    }
    #more {
        width: 7vh;
    }
}
